@charset "UTF-8";

h1{
	text-decoration: underline;
	
}

table{
	border-top:1px solid;
	border-bottom:1px solid;
	border-collapse:collapse;
	width: 1000px;
}

tr{
	border-bottom:1px solid;
}

