<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.mapper.BoardMapper">
	<select id="boardList" resultType="com.lhj.model.BoardVO">
		select * from product_board
	</select>

</mapper>