<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.mapper.ReviewMapper">

	<!-- 댓글 작성 -->
	<insert id="repWrite">
		insert into review(pno,content,writer,rate)
		values (#{pno},#{content},#{writer},#{rate})
	</insert>

	<!-- 댓글 목록 조회 -->
	<select id="repList" resultType="com.lhj.model.ReviewVO">
		select * from review where
		pno = #{pno}
	</select>

	<!-- 댓글 수정  -->
	<update id="repModify">
		update review set
		content=#{content} 
		where rno =#{rno}
	</update>
	<!-- 댓글 삭제  -->
	<delete id="repDel">
		delete from review where rno=#{rno}
	</delete>

	<!-- 댓글 페이징처리  -->
	<select id="repListPage" resultType="com.lhj.model.ReviewVO">
		
		select * from (
	select R.* , @rownum:=@rownum+1 as rownum from (
		select 	r.pno,r.rno, r.content, r.rate , r.regdate , r.writer  ,ra.filename as fn
				from review r left join review_attach ra on (r.rno = ra.rno) join (select @rownum:=0) as rn 
						where content like '%%' group by r.rno ) 
                        as R order by R.rno desc)  as C 
              <![CDATA[
			where rownum >(#{cri.pageNum}-1) * #{cri.amount} and rownum<= #{cri.amount} * #{cri.pageNum} 
		]]>
		
		
	</select>

	<!--댓글 총 갯수  -->
	<select id="repCount" resultType="int">
		select count(*) from review where pno = #{pno}
	</select>

	<!--리뷰 게시판 파일 업로드  -->
	<insert id="revAddAttach">
		insert into review_attach(filename,rno) values (#{filename},LAST_INSERT_ID())
	</insert>


</mapper>